################################### METADATA ###################################

# Contributors: roadelou
# Contacts: 
# Creation Date: 2021-07-18
# Language: Gitignore file

##################################### BODY #####################################

# Ignoring vim swap files.
*.swp
#
# Ignoring build directory.
build
#
# Ignoring packaged RPM sources.
*.src.rpm
#
# Ignoring RPM package directory.
x86_64
#
# Ignoring RPM packaging log files.
*.log

##################################### EOF ######################################
